codeSvcTest/codeSvcTest/Service References/xmlSvc/XmlWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://venus.eas.asu.edu/WSRepository/eRobotic2/lessonPlanSvc/XmlWebService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://venus.eas.asu.edu/WSRepository/eRobotic2/lessonPlanSvc/XmlWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Xml.Linq" />
  <xs:element name="listLessonPlans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listLessonPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listLessonPlansResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLessonPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLessonPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Xml.Linq" minOccurs="0" name="getLessonPlanResult" nillable="true" type="q2:ArrayOfXElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>