codeSvcTest/codeSvcTest/Service References/xmlSvc/XmlWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XmlWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://venus.eas.asu.edu/WSRepository/eRobotic2/lessonPlanSvc/XmlWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://venus.eas.asu.edu/WSRepository/eRobotic2/lessonPlanSvc/XmlWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://venus.eas.asu.edu/WSRepository/eRobotic2/lessonPlanSvc/XmlWebService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://venus.eas.asu.edu/WSRepository/eRobotic2/lessonPlanSvc/XmlWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Xml.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IXmlWebService_listLessonPlans_InputMessage">
    <wsdl:part name="parameters" element="tns:listLessonPlans" />
  </wsdl:message>
  <wsdl:message name="IXmlWebService_listLessonPlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:listLessonPlansResponse" />
  </wsdl:message>
  <wsdl:message name="IXmlWebService_getLessonPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:getLessonPlan" />
  </wsdl:message>
  <wsdl:message name="IXmlWebService_getLessonPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLessonPlanResponse" />
  </wsdl:message>
  <wsdl:portType name="IXmlWebService">
    <wsdl:operation name="listLessonPlans">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlWebService/listLessonPlans" message="tns:IXmlWebService_listLessonPlans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlWebService/listLessonPlansResponse" message="tns:IXmlWebService_listLessonPlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLessonPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlWebService/getLessonPlan" message="tns:IXmlWebService_getLessonPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlWebService/getLessonPlanResponse" message="tns:IXmlWebService_getLessonPlan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IXmlWebService" type="tns:IXmlWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listLessonPlans">
      <soap:operation soapAction="http://tempuri.org/IXmlWebService/listLessonPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLessonPlan">
      <soap:operation soapAction="http://tempuri.org/IXmlWebService/getLessonPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XmlWebService">
    <wsdl:port name="BasicHttpBinding_IXmlWebService" binding="tns:BasicHttpBinding_IXmlWebService">
      <soap:address location="http://venus.eas.asu.edu/WSRepository/eRobotic2/lessonPlanSvc/XmlWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>